/**********************************************
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.selector {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
}
*********************************************/





/**********************************************
@keyframes fromTopAndBounce {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

.selector {
  animation-name: fromTopAndBounce;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
}
*********************************************/





/**********************************************
@keyframes fromBottomAndBounce {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

.selector {
  animation-name: fromBottomAndBounce;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
}
*********************************************/





/**********************************************
@keyframes fromRightAndBounce {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.selector {
  animation-name: fromRightAndBounce;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
}
*********************************************/





/**********************************************
@keyframes fromLeftAndBounce {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.selector {
  animation-name: fromLeftAndBounce;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
}
*********************************************/





/**********************************************
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(25px);
  }
  40% {
    transform: translateX(-25px);
  }
  60% {
    transform: translateX(25px);
  }
  80% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }
}

.selector {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.64,.03,.64,1.47);
}
*********************************************/





/**********************************************
@keyframes rotateClockwiseAndFade {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.selector {
  animation-name: rotateClockwiseAndFade;
  animation-duration: 1s;
  animation-timing-function: linear;
}
*********************************************/





/**********************************************
@keyframes rotateAntiClockwiseAndFade {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(-180deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(-360deg);
    opacity: 1;
  }
}

.selector {
  animation-name: rotateAntiClockwiseAndFade;
  animation-duration: 1s;
  animation-timing-function: linear;
}
*********************************************/





/**********************************************
@keyframes shrinkAndFadeIn {
  0% {
    transform: scale(3);
    opacity: 0;
  }
  60% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.selector {
  animation-name: shrinkAndFadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
*********************************************/





/**********************************************
@keyframes growAndFadeIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  60% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.selector {
  animation-name: growAndFadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/
