/***********************  Entry Animations ***********************/

/**********************************************
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes enterTop {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes enterTop {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: enterTop;
          animation-name: enterTop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
          animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes enterBottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes enterBottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: enterBottom;
          animation-name: enterBottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
          animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes enterRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes enterRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: enterRight;
          animation-name: enterRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
          animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes enterLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes enterLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: enterLeft;
          animation-name: enterLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
          animation-timing-function: cubic-bezier(.64,.03,.39,1.49);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes rotateClockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes rotateClockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: rotateClockwise;
          animation-name: rotateClockwise;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes rotateAntiClockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
}

@keyframes rotateAntiClockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: rotateAntiClockwise;
          animation-name: rotateAntiClockwise;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes shrinkAndFadeIn {
  0% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes shrinkAndFadeIn {
  0% {
    -webkit-transform: scale(3);
            transform: scale(3);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: shrinkAndFadeIn;
          animation-name: shrinkAndFadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes growAndFadeIn {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes growAndFadeIn {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: growAndFadeIn;
          animation-name: growAndFadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: flip;
          animation-name: flip;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes flipAlternate {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes flipAlternate {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: flipAlternate;
          animation-name: flipAlternate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes hingeUpLeft {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes hingeUpLeft {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: hingeUpLeft;
          animation-name: hingeUpLeft;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(.55,.27,.49,1.43);
          animation-timing-function: cubic-bezier(.55,.27,.49,1.43);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes hingeUpRight {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes hingeUpRight {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: hingeUpRight;
          animation-name: hingeUpRight;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(.55,.27,.49,1.43);
          animation-timing-function: cubic-bezier(.55,.27,.49,1.43);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes hingeDownRight {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes hingeDownRight {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: hingeDownRight;
          animation-name: hingeDownRight;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(.55,.27,.49,1.43);
          animation-timing-function: cubic-bezier(.55,.27,.49,1.43);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes hingeDownLeft {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes hingeDownLeft {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: hingeDownLeft;
          animation-name: hingeDownLeft;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: cubic-bezier(.55,.27,.49,1.43);
          animation-timing-function: cubic-bezier(.55,.27,.49,1.43);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/











/***********************  Exit Animations ***********************/

/**********************************************
@-webkit-keyframes exitTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
}

@keyframes exitTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
}

.selector {
  -webkit-animation-name: exitTop;
          animation-name: exitTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.52,-0.3,.6,1.03);
          animation-timing-function: cubic-bezier(.52,-0.3,.6,1.03);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes exitBottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
}

@keyframes exitBottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
}

.selector {
  -webkit-animation-name: exitBottom;
          animation-name: exitBottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.52,-0.3,.6,1.03);
          animation-timing-function: cubic-bezier(.52,-0.3,.6,1.03);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes exitRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
}

@keyframes exitRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0;
  }
}

.selector {
  -webkit-animation-name: exitRight;
          animation-name: exitRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.52,-0.3,.6,1.03);
          animation-timing-function: cubic-bezier(.52,-0.3,.6,1.03);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes exitLeft {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  60% {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  opacity: 0;
}
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0;
  }
}

@keyframes exitLeft {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  60% {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  opacity: 0;
}
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    opacity: 0;
  }
}

.selector {
  -webkit-animation-name: exitLeft;
          animation-name: exitLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.52,-0.3,.6,1.03);
          animation-timing-function: cubic-bezier(.52,-0.3,.6,1.03);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
*********************************************/







/**********************************************

*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/





/**********************************************

*********************************************/

















/***********************  Other Animations ***********************/

/**********************************************
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  40% {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  60% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  80% {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  20% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  40% {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  60% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
  80% {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.selector {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
*********************************************/





/**********************************************
@-webkit-keyframes swingRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swingRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.selector {
  -webkit-animation-name: swingRight;
          animation-name: swingRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes swingLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes swingLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.selector {
  -webkit-animation-name: swingLeft;
          animation-name: swingLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
*********************************************/





/**********************************************
@-webkit-keyframes colorShift {
  0% {
    color: #03132c;
    opacity: 1;
  }
  20% {
    color: #2cb6b9;
    opacity: 1;
  }
  40% {
    color: #fad06a;
    opacity: 1;
  }
  60% {
    color: #d9428a;
    opacity: 1;
  }
  80% {
    color: #5a719b;
    opacity: 1;
  }
  100% {
    color: #03132c;
    opacity: 1;
  }
}


@keyframes colorShift {
  0% {
    color: #03132c;
    opacity: 1;
  }
  20% {
    color: #2cb6b9;
    opacity: 1;
  }
  40% {
    color: #fad06a;
    opacity: 1;
  }
  60% {
    color: #d9428a;
    opacity: 1;
  }
  80% {
    color: #5a719b;
    opacity: 1;
  }
  100% {
    color: #03132c;
    opacity: 1;
  }
}

.selector {
  -webkit-animation-name: colorShift;
          animation-name: colorShift;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
*********************************************/





/**********************************************

*********************************************/
